/* Focus Styles */

:focus {
  outline-width: 0;
}

:focus-visible {
  outline: 2px solid #aaa;
  outline-offset: 6px;
}

/* The Component */

.a11y-switch {
  *,
  *::after,
  *::before {
    /* box-sizing: border-box; */
  }
}

.a11y-switch {
  --w: 5.6em;
  --h: 3em;
  --pad: 4px;
  --transition-time: 250ms;
  --knob-size: calc(var(--h) - 2 * var(--pad));
  --hue: 200;
  --bg-color: hsl(var(--hue) 10% 55%);
  --bg-color-hover: hsl(var(--hue) 10% 40%);
  --bg-color-checked: hsl(var(--hue) 90% 55%);
  --bg-color-checked-hover: hsl(var(--hue) 90% 40%);
  --knob-color: hsl(var(--hue) 55% 100%);
  --knob-color-checked: var(--knob-color);

  /* Base */

  [type-checkbox],
  [type="checkbox"]::before,
  [type="checkbox"]::after {
    box-sizing: border-box;
  }

  [type="checkbox"] {
    transition: background-color var(--transition-time);
  }

  [type="checkbox"]::before {
    transition: width var(--transition-time), transform var(--transition-time),
      left var(--transition-time);
  }

  [type="checkbox"]::after {
    transition: opacity 0.5s;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  /* The Box */

  [type="checkbox"] {
    margin-right: calc(var(--h) / 3);
    pointer-events: none;
    appearance: none;
    background: var(--bg-color);
    width: var(--w);
    height: var(--h);
    padding-left: var(--pad);
    padding-right: var(--pad);
    gap: var(--pad);
    border-radius: 9999px;
    position: relative;

    &:checked {
      background: var(--bg-color-checked);
    }

    &:hover {
      background: var(--bg-color-hover);
    }

    &:checked:hover {
      background: var(--bg-color-checked-hover);
    }
  }

  /* The Knob */

  [type="checkbox"]::before {
    position: absolute;
    left: var(--pad);
    top: var(--pad);
    content: "";
    width: var(--knob-size);
    height: var(--knob-size);
    background-color: var(--knob-color);
    border-radius: 9999px;
    z-index: 10;
  }

  [type="checkbox"]:checked::before {
    left: calc(100% - var(--pad));
    transform: translateX(-100%);
  }

  label:active [type="checkbox"]::before {
    width: calc(var(--knob-size) + 10px);
  }

  /* On / Off Indicator */

  [type="checkbox"]::after {
    position: absolute;
    left: calc(var(--knob-size) + var(--pad));
    top: 0;
    bottom: 0;
    content: attr(data-indicator-unchecked);
    padding: calc(var(--pad) * 2);
    text-align: center;
    width: calc(100% - var(--knob-size) - 1 * var(--pad));
  }

  [type="checkbox"]:checked::after {
    content: attr(data-indicator-checked);
    left: 0;
  }

  label:active [type="checkbox"]::after {
    opacity: 0;
  }
}

@media (prefers-reduced-motion) {
  .a11y-switch *::before,
  .a11y-switch *::after {
    transition: 0s !important;
  }
}
